 Package                            Version
---------------------------------- -------------------

gpytorch                           1.4.2
numpy                              1.19.2
torch                              1.7.1+cu110
tqdm                               4.50.2
